@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500;600;700&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Khula:wght@300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600&display=swap');*/
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500&display=swap');



/* Related to nav bar */
.navbar-margin {
    margin-bottom: 35px;
}

.custom-navbar {
    background-color: #011627 !important;
}

.brand-logo {   /* Also included in signin */
    font-family: 'Comfortaa', cursive;
    padding-left: 10px !important;
    letter-spacing: 2px;
}




/* Sign in realted */
.custom-card-signin {
    padding: 20px;
    box-shadow:0 0 10px 0px rgba(0,0,0,.1);
    /* box-shadow: none; */
    max-width: 325px;
    height: 350px;
    text-align: center;
    margin: 10px auto;
    border-radius: 3px;
}

.custom-button-signin { /* Also included in signup */
    background-color: #17ac9d;
    /* box-shadow: none; */
    border-radius: 2px;
    margin-top: 10%;
}

.custom-icon-size { /* Input Feilds Related */
    font-size: 20px !important;
}




/* Sign up realted */
.custom-card-signup {
    padding: 20px;
    box-shadow:0 0 10px 0px rgba(0,0,0,.1);
    max-width: 350px;
    height: 675px;
    text-align: center;
    margin: 10px auto;
    border-radius: 3px;
}




/* List+Grid View Realted */
.collection{
    box-shadow:0 0 10px 0px rgba(0,0,0,.1);
    border: none;
}




/*Related to Tweet in Tweets list*/
.tweet-style {
    font-family: "Raleway", sans-serif;
    word-wrap: break-word;
    font-weight:300px;
    font-size: 12px;
    letter-spacing: none;
    color: #797979;
    margin-right: 10px;
    margin-top: 10px;
}

.tweet-pic-div {
    margin: 5px 0px;
    width : 85%;
    height: 50%;
    /* border: 1px solid darkgrey; */
    border-radius: 5px;
    box-shadow:0 0 3px 0px rgba(0,0,0,.1);
}




/*Related to ProfileModal*/
#modal2 {
    width: 75%;
    max-height: 85%; 
}



/* Related to the persons in the list of people followed and following under People component*/
/* .custom-card-person {
    padding: 20px;
    box-shadow:0 0 10px 0px rgba(0,0,0,.1);
    max-width: 160px;
    height: 150px;
    text-align: center;
    margin: 10px auto;
    border-radius: 11px;
} */